*{
    margin: 5px;
}
.input{
    border: 3px solid red;
}
.select-option, .links{
    background-color: cadetblue;
    border-radius: 7px;
    color: aliceblue;
}
.tags{
    color:red;
}
ul{
color:black;
}

